// 颜色定义规范
$color-background = #fff
$color-bg-hui = #F5F5F5
$color-hui = #cccccc
$color-b = #e1e1e4
$color-ash = #999999
$color-blue = #4242FF
$color-red = #FF4133
$color-theme = #ffcd32tip
$color-sub-theme = #d93f30
$color-text = #333
$color-pink = #ffa099
$color-hui-bg = #f3f5f5
$color-line = #e5e5e5

@import '~@/common/stylus/mixin'